Functionele minimum requirements
    Login systeem
        Bezoekers kunnen inloggen OK
        Alle bezoekers kunnen een nieuwe account aanmaken OK
        Een useraccount is of een gewone gebruiker, of een admin OK
        Enkel admins kunnen andere gebruikers verheffen tot admin en deze rechten afnemen OK
        Enkel admins kunnen een nieuwe gebruiker manueel aanmaken (en deze al dan niet admin maken) OK
    Profielpagina
        Elke gebruiker heeft zijn eigen publieke profielpagina die toegankelijk is voor iedereen, ook voor niet ingelogde gebruikers OK
        Een ingelogde gebruiker kan diens eigen data aanpassen OK
        Een profiel bevat minstens de volgende data (maar de velden zelf zijn optioneel): OK
            Username (dus de gebruiker kan zelf kiezen welke naam er op het profiel staat) OK
            Verjaardag OK
            Profielfoto (dat op de webserver zal bewaard worden) OK
            Kleine "over mij" tekst OK
    Laatste nieuwtjes
        Admins kunnen nieuwe nieuwsitems toevoegen, wijzigen en verwijderen OK
        Elke bezoeker kan een lijst van alle nieuwtjes en een detail per nieuwtje zien OK
        De nieuwsitems hebben minstens: OK
            Titel
            Afbeelding (opgeslagen op de server)
            Content
            Publicatiedatum
    FAQ pagina
        De FAQ-pagina bevat een lijst van vragen en antwoorden, gegroepeerd per categorie OK
        Admins kunnen categorieën en vraag/antwoorden toevoegen, wijzigen en verwijderen OK
        Elke bezoeker kan de FAQ zien OK
    Contact pagina
        Elke bezoeker kan een contactformulier invullen OK
        Bij het versturen van dit contactformulier krijgt de admin een email met de inhoud van het formulier OK 


Technische requirements

Naast de functionele requirements zijn er ook enkele technische standaarden die je moet volgen:

    Views
        Gebruik minstens twee layouts OK
        Gebruik een component waar logisch OK
        Gebruik de technieken die aan bod gekomen zijn in de cursus en de oefeningen
            Control structures OK
            XSS protection OK ( All user-generated content is properly escaped using Blade {{ }} syntax, which prevents cross-site scripting attacks by converting potentially dangerous characters into safe HTML entities)
            CSRF protection OK
            Client-side validation OK
    Routes
        Alle routes gebruiken controller methods OK
        Alle routes gebruiken de nodige middleware OK
        Indien mogelijk: groepeer je routes OK
    Controller
        Gebruik controllers om je logica op te splitsen OK
        Denk terug aan resource controllers voor CRUD operaties OK
    Models
        Gebruik Eloquent models per entiteit OK
        Leg de nodige relaties
            Minstens één one-to-many OK (user-to-layout)
            Minstens één many-to-many OK (user-ratings-layouts)
    Database
        Ik zal "php artisan migrate:fresh --seed" uitvoeren op elk project en mijn eigen .env-file gebruiken om met de database te connecten
        Zorg dat je database werkt OK
        Zorg dat je database alle nodige basisdata bevat OK
    Authentication
        Standaard functionaliteiten
            Log in/out OK
            'Remember me' OK
            Registreer OK
            Mogelijkheid om wachtwoord te resetten bij vergeten wachtwoord OK
        Voeg één default admin toe OK
            Username: admin
            Email: admin@ehb.be
            Password: Password!321
    Layout OK
        Dit is geen design vak dus steek niet teveel tijd in het mooi maken van je project, maar zorg voor een duidelijke en professionele layout


Zorg voor een readme.md file. Deze file bevat minstens:

    De stappen dit iemand moet uitvoeren om je project te laten werken OK
    Je bronvermeldingen OK
    Enige andere belangrijke informatie die je wilt meedelen over je project OK
